{% extends "light.twig" %}
{% block sidebar %}{% endblock %}
{% block headernav %}{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="about-logo">
                <h1>{% trans "About" %}</h1>
            </div>
        </div>
    </div>
    <div id="about">
        <div class="about-content">
            {% include 'fundament_about.inc' %}
        </div>
    </div>
    <br>
    <div class="about-extra-info">
        <div class="credits">
            <p>{% if ServiceName != 'SERVICE_NAME' %}{{ ServiceName }}{% else %}Skosmos{% endif %}</p>
        </div>
        <div class="version">
            {% set version = request.version %}
            <p>{% trans %}Skosmos version {{ version }}{% endtrans %}</p>
        </div>
    </div>
{% endblock %}
