<div class="wrapper" id="wrapper-hero" style="background-image: url(./resource/pics/vocabs_intro_bg.jpg);">
    <div id="wrapper-hero-content" class="wrapper">
        <div id="wrapper-hero-inner" class="container hero-dark">
            <h1>Vocabs services</h1>
            <p class="lead">
                In many areas of scholarly work, controlled vocabularies (gazetteers, thesauri, etc.) play a crucial role as a stable reference for resources and for ensuring interoperability between disparate projects and their data. The ACDH-CH provides a suite of Vocabs services that allow for collaborative creation, maintenance and publication of vocabularies and taxonomies of any kind.
            </p>
        </div>

    </div>
</div>
